<a href="https://colab.research.google.com/github/CommunityRADvocate/ida-colabs/blob/main/week_8_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Integer Operations

In [ ]:
a = 10
b = 3

# Addition
add = a + b
print("Addition:", add)

# Subtraction
subtract = a - b
print("Subtraction:", subtract)

#Multiplication
multiply = a * b
print("Multiplication:", multiply)

## Strings and Operators

In [49]:
name = "Nicole"

# Concatenate
# greeting = "Hello, " + name

# String Methods
name_length = len(name)
name_uppercase = name.upper()
name_lowercase = name.lower()
print(name_uppercase)

# Templates
greeting = f"Hello, {name}! Your name has {name_length} letters in it!"

# Containment
contains_a = "a" in name
contains_e = "e" in name
contains_i = "i" in name

print(greeting)
print(contains_a)

NICOLE
Hello, Nicole! Your name has 6 letters in it!
False

## Booleans

In [20]:
print("A: ", contains_a)
print("E: ", contains_e)

A:  False
E:  True

## If, Else, Elif

In [31]:
if contains_a:
    print("'A' is the first vowel in your name.")
elif contains_e:
    print("'E' is the first vowel in your name.")
elif contains_i:
    print("'I' is the first vowel in your name.")
else:
    print("Your name does not contain 'A' or 'E'.")

'E' is the first vowel in your name.

## Comparisons

In [29]:
avg_name_length = 6

if name_length == avg_name_length:
    print("Your name has the same number of letters as the average")
elif name_length < avg_name_length:
    print("Your name has fewer letters than the average")
elif name_length > avg_name_length:
    print("Your name has more letters than the average")
else:
    print("An error has occurred")

Your name has the same number of letters as the average

## Functions

In [39]:
def greet(gjuirophejsihopjuriop):
    print(f"Hello, {gjuirophejsihopjuriop}!")

greet("Alice")
greet("Bob")
greet(name)

Hello, Alice!
Hello, Bob!
Hello, Nicole!

## Returning Values

In [40]:
total_bill = float(input("Total bill amount: $"))
num_people = int(input("Number of people: "))

# calculate and display amount per person
print(f"Each person pays ${total_bill/num_people:.2f}")

Total bill amount: $50
Number of people: 2
Each person pays $25.00

## Expecting Exceptions

In [41]:
x = 10 / 0
print(x)

ZeroDivisionError: division by zero

In [42]:
try:
    x = 10 / 0 #attempting to divide by zero
except ZeroDivisionError:
    print("Error: You cannot divide by zero!")

Error: You cannot divide by zero!

In [44]:
cp, ma, a = "secure123", 3, 0

while a < ma:
    if input("Password?: ") == cp:
        print("Access granted")
        break
    print("Incorrect. Try again.")
    a += 1
else:
    print("Max attempts reached. Access denied.")

Password?: fjieow
Incorrect. Try again.
Password?: hjfieow
Incorrect. Try again.
Password?: hfieowp
Incorrect. Try again.
Max attempts reached. Access denied.

In [46]:
numbers = [1, 2, 3, 4, 5]
total = 0

for num in numbers:
    total += num
    print("The current sum of the numbers is: ", total)

The current sum of the numbers is:  1
The current sum of the numbers is:  3
The current sum of the numbers is:  6
The current sum of the numbers is:  10
The current sum of the numbers is:  15