<a href="https://colab.research.google.com/github/CommunityRADvocate/ida-colabs/blob/main/Week_11_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Data

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

There are many different file types your data may come in, and many ways to store and import that data.

The most common format is Comma Separated Values (csv), and `pd.read_csv()` will be your go-to method for importing those.

Some other file types you may encounter include:
* JSON
* Excel
* Text

You can find how to import any applicable file type by typing "pandas import [file type]" in your favorite search engine.

The site Geeks for Geeks has some good resources that come up in search for how to access datasets in Colab from some common places on the web:
* Kaggle -  [How to Import Kaggle Datasets Directly into Google Colab](https://www.geeksforgeeks.org/how-to-import-kaggle-datasets-directly-into-google-colab/)
* Google Drive - [How to Load a Dataset From Google Drive to Colab](https://www.geeksforgeeks.org/how-to-load-a-dataset-from-the-google-drive-to-google-colab/)

I've uploaded the Music & Mental Health Survey Results to a public [GitHub](https://github.com/CommunityRADvocate/ida2404-capstone/tree/main) repository, which is my preferred method when using Colab to analyze a public dataset.

In [ ]:
# assign raw data link to variable
url = 'https://raw.githubusercontent.com/CommunityRADvocate/ida2404-capstone/main/mxmh_survey_results.csv'
# use variable name as argument
df = pd.read_csv(url)

## Exploration Methods

In [ ]:
# see the first few rows of your dataframe
df.head()

By default this shows the first 5 rows, but you can add a parameter with the number of rows you'd like to view

In [ ]:
# view key pieces of information about your dataframe
df.info()

In [ ]:
# statistical insights into numeric data
df.describe()

### Sorting

[Sort values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
# check documentation for parameters
df.sort_values('Age')
# sort descending
# permanently change the sort order
# revert back to original sort

### Selecting Data

A common task in data analysis is selecting specific subsets of our data that meet certain conditions.

You can create a boolean Series based on your condition and use it as an index to retrieve matching rows.

[Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

In [ ]:
# select rows where Spotify is the user's primary streaming service
spotify = df['Primary streaming service'] == 'Spotify'
df[spotify].head()

In [ ]:
# a tilde (~) can be prefixed to the boolean series to obtain the inversed index
df[~spotify].head()

You don't have to store the index in a variable

In [ ]:
df[df['Fav genre'] == 'Jazz'].head()

You can use the boolean Series as an index with the .loc object

In [ ]:
# retrieve a subset of our data showing the age and hours per day columns of users who primarily stream on spotify
df.loc[spotify, ['Age', 'Hours per day']]

We can use bitwise operators to compare boolean Series against each other

In [ ]:
# select rows of users who primarily stream spotify and are over the age of 30
df[spotify & (df['Age'] > 30)]

### Manipulation

You'll often need to add, remove, or otherwise modify data

#### Assigning values

Our 'Music effects' column had some empty values. In Sheets we replaced those with 'No effect' rather than delete those rows. We can do the same with Pandas.

In [ ]:
# identify the rows with missing values in column
df[df['Music effects'].isnull()]

In [ ]:
# cannot update with chaining
df[df['Music effects'].isnull()]['Music effects'] = 'No effect'

In [ ]:
# replace null values in column using .loc
df.loc[df['Music effects'].isnull(), 'Music effects'] = 'No effect'

In [ ]:
# check that the values have been updated

#### Adding rows

In [ ]:
new_response = {
    "Timestamp": "5/27/2024 17:39:08",
    "Age": 32,
    "Primary streaming service": "Apple Music",
    "Hours per day": 3,
    "While working": "Yes",
    "Instrumentalist": "Yes",
    "Composer": "No",
    "Fav genre": "Classical",
    "Exploratory": "Yes",
    "Foreign languages": "Yes",
    "BPM": 100,
    "Frequency [Classical]": "Very frequently",
    "Frequency [Country]": "Rarely",
    "Frequency [EDM]": "Rarely",
    "Frequency [Folk]": "Sometimes",
    "Frequency [Gospel]": "Never",
    "Frequency [Hip hop]": "Sometimes",
    "Frequency [Jazz]": "Sometimes",
    "Frequency [K pop]": "Rarely",
    "Frequency [Latin]": "Sometimes",
    "Frequency [Lofi]": "Very frequently",
    "Frequency [Metal]": "Rarely",
    "Frequency [Pop]": "Sometimes",
    "Frequency [R&B]": "Sometimes",
    "Frequency [Rap]": "Sometimes",
    "Frequency [Rock]": "Sometimes",
    "Frequency [Video game music]": "Very frequently",
    "Anxiety": 5,
    "Depression": 6,
    "Insomnia": 1,
    "OCD": 6,
    "Music effects": "Improve",
    "Permissions": "I understand."
  }

In [ ]:
df.append(new_response, ignore_index=True)

*As of Pandas 2.0, `.append()` is no longer supported.*

You can instead use a combination of `.loc` and `len()` to add a single series to the end of your dataframe.

In [ ]:
df.loc[len(df.index)] = pd.Series(new_response)

In [ ]:
# view the end of our dataframe with .tail()
df.tail()

To add multiple rows to your dataframe, consider using `pd.concat()`

In [ ]:
# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3']})

df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
					'B': ['B4', 'B5', 'B6', 'B7']})

df2

In [ ]:
# concatenate the dataframes
df3 = pd.concat([df1, df2], ignore_index = True)
df3

##### Setting with Enlargement

Assigning to a non-existent index key will automatically enlarge the dataframe and the row will be added.

For autogenerated indexes, a popular workaround is figuring out the last used index and then incrementing it

In [ ]:
new_response = {
    "Timestamp": "5/27/2024 18:39:08",
    "Age": 50,
    "Primary streaming service": "Spotify",
    "Hours per day": 10,
    "While working": "Yes",
    "Instrumentalist": "No",
    "Composer": "No",
    "Fav genre": "Rock",
    "Exploratory": "Yes",
    "Foreign languages": "Yes",
    "BPM": 122,
    "Frequency [Classical]": "Very frequently",
    "Frequency [Country]": "Rarely",
    "Frequency [EDM]": "Rarely",
    "Frequency [Folk]": "Sometimes",
    "Frequency [Gospel]": "Never",
    "Frequency [Hip hop]": "Sometimes",
    "Frequency [Jazz]": "Sometimes",
    "Frequency [K pop]": "Rarely",
    "Frequency [Latin]": "Sometimes",
    "Frequency [Lofi]": "Very frequently",
    "Frequency [Metal]": "Rarely",
    "Frequency [Pop]": "Sometimes",
    "Frequency [R&B]": "Sometimes",
    "Frequency [Rap]": "Sometimes",
    "Frequency [Rock]": "Sometimes",
    "Frequency [Video game music]": "Very frequently",
    "Anxiety": 0,
    "Depression": 2,
    "Insomnia": 3,
    "OCD": 0,
    "Music effects": "No effect",
    "Permissions": "I understand."
  }

next_key = df.index.max() + 1
df.loc[next_key] = new_response

# check that it was added
df.tail()

#### Adding Columns

Can use some of the same principles as adding rows

Missing values will be set to `np.nan`

We can add a calculated column with our various mental health scores using Enlargement

In [ ]:
mental_scores = ['Anxiety', 'Depression', 'Insomnia', 'OCD']
# referencing a column that doesn't exist will add it to our dataframe
df['Mental health score'] = df[mental_scores].sum(axis=1)

In [ ]:
df.head()

In [ ]:
# add calculated columns for average mental health scores
df['Mental health average'] = df[mental_scores].mean(axis=1)

##### Renaming columns

Sometimes it makes sense to rename columns, whether to make them more human-readable or to make them easier to reference.

You can do this a few different ways using the `DataFrame.rename()` method

[documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [ ]:
df3

In [ ]:
col_names = {'A': 'Primary', 'B': 'Secondary'}
df3.rename(columns = col_names)

In [ ]:
df3.rename(str.lower, axis = 'columns', inplace=True)
df3

##### Deleting columns

You can either use slicing to exclude specific columns, or remove them using `.drop()`

In [ ]:
df.drop(columns=['Mental health score', 'Mental health average'], inplace=True)
df.head()

This method can also be used to remove rows by index

In [ ]:
# view the end of our dataframe to get last index numbers
df.tail()

In [ ]:
df.drop([736, 737])

### Combining Data Frames

[Documentation for .merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

In [ ]:
url = 'https://raw.githubusercontent.com/CommunityRADvocate/ida-colabs/main/data/transactions.csv'
transactions = pd.read_csv(url, index_col=0)
url = 'https://raw.githubusercontent.com/CommunityRADvocate/ida-colabs/main/data/requests.csv'
requests = pd.read_csv(url, index_col=0)
transactions.shape, requests.shape

In [ ]:
transactions.head()

In [ ]:
requests.head()

In [ ]:
# Since we are calling merge on the `requests` DataFrame it is considered the left side
successful_requests = requests.merge(
    # And transactions is the right side
    transactions,
    # So now we line up columns that will make the join make sense.
    left_on=['from_user', 'to_user', 'amount'],
    right_on=['receiver', 'sender', 'amount']
)
# Let's take a look and see how we did
successful_requests.head()

### Gather Insights

In [ ]:
successful_requests.dtypes

In [ ]:
# convert respective columns to datetime format
successful_requests['request_date'] = pd.to_datetime(successful_requests['request_date'])
successful_requests['sent_date'] = pd.to_datetime(successful_requests['sent_date'])
# And now we can see they are converted
successful_requests.dtypes

In [ ]:
# create a new column with elapsed time between requested and sent
successful_requests['time_passed'] = successful_requests.sent_date - successful_requests.request_date

In [ ]:
# see 5 longest request to successful transactions
successful_requests.sort_values(by='time_passed', ascending=False).head(5)

In [ ]:
"Wow! ${:,.2f} has passed through the request system in {} transactions!!!".format(
    successful_requests.amount.sum(),
    len(successful_requests),
)

### Handling Duplicates

[Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html)

In [ ]:
# Create a boolean Series of records that are duplicated.
#   Note that `keep=False` marks all that are duplicated
dupes = requests[requests.duplicated(('from_user', 'to_user', 'amount'), keep=False)]
# Order by requester and the date of request.
#   Note that `request_date` in this case is a string, but this string date format sorts properly still.
dupes.sort_values(['from_user', 'request_date'])

In [ ]:
url = 'https://raw.githubusercontent.com/CommunityRADvocate/ida-colabs/main/data/users.csv'
users = pd.read_csv(url, index_col=0)

In [ ]:
# Let's get our records sorted chronologically
successful_requests.sort_values('request_date', inplace=True)

# And then we'll drop dupes keeping only the last one.
#  Note the use of the inplace keyword
successful_requests.drop_duplicates(('from_user', 'to_user', 'amount'), keep='last', inplace=True)

# Statement from previous notebook
"Wow! ${:,.2f} has passed through the request system in {} transactions!!!".format(
    successful_requests.amount.sum(),
    len(successful_requests),
)

#### Locating records not found in another DF using `isin`

[Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html)

In [ ]:
# Create a boolean array where we check to see if the label (username)
#   is in the `from_user` Series.
made_request_index = users.index.isin(requests.from_user)
# This will get us a list of all users who **have** made a request
users[made_request_index].head()

In [ ]:
users[~made_request_index].head()

### Handling missing data

Documentation:
* [`Series.isna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isna.html)
* [`fillna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)
* [`dropna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)

We used the assign values method to fill in the Music effects fields that were empty, but we can instead use `fillna` to do the same.

In [ ]:
# re-import dataset to undo any changes made
url = 'https://raw.githubusercontent.com/CommunityRADvocate/ida2404-capstone/main/mxmh_survey_results.csv'

df = pd.read_csv(url)

In [ ]:
# find rows with missing values in specified column
df[df['Music effects'].isna()]

In [ ]:
df['Music effects'].fillna('No effect', inplace=True)

In [ ]:
# check to make sure we filled the empty values
df[df['Music effects'].isna()]

There will be times when missing values can't easily be filled, and will not be useful in our analysis. For those instances, we can drop rows with missing data using `dropna()`

In [ ]:
# find rows with missing 'Age'
df[df['Age'].isna()]

In [ ]:
df.dropna(subset=['Age'], inplace=True)

### Manipulating Text

[Handling strings](https://pandas.pydata.org/pandas-docs/stable/api.html#string-handling)

In [ ]:
from IPython.display import display, Markdown

def render(md):
    return display(Markdown(md))

def make_chaos(df, sample_size, columns, fn):
    # Keep chaos the same randomly
    some = df.sample(sample_size, random_state=sample_size)
    for col in columns:
        some[col] = some[col].apply(fn)
    # Update the original DataFrame
    df.update(some)

In [ ]:
pd.options.display.max_rows = 10
make_chaos(transactions, 42, ['sender'], lambda val: '$' + val)
make_chaos(transactions, 88, ['receiver'], lambda val: val.upper())

In [ ]:
transactions[transactions.sender.str.startswith('$')]

In [ ]:
# replace '$' with an empty string
transactions.sender = transactions.sender.str.replace('$', '')

#### Changing Case

Sometimes your data comes with mismatched letter casing within a column, which may cause unexpected results in your analysis.

In [ ]:
# identify rows where 'receiver' column values are uppercase
transactions[transactions.receiver.str.isupper()]

In [ ]:
# update receiver column of those rows to be lowercase
transactions.loc[transactions.receiver.str.isupper(), 'receiver'] = transactions.receiver.str.lower()

Here's an example of how you might want to use string methods to update column names in our survey dataset

In [ ]:
df.columns = df.columns.str.replace(' ', '_').str.replace('[', '').str.replace(']', '').str.lower().str.replace('frequency', 'fr')
df.columns

What's the benefit of formatting your columns in this way?

## Grouping

DataFrame.groupby() [Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

[API](https://pandas.pydata.org/docs/reference/groupby.html)

In [ ]:
streaming_groups = df.groupby('primary_streaming_service')
type(streaming_groups)

In [ ]:
# returns Series of total rows in each group
streaming_groups.size()

In [ ]:
# count how many non missing data points in each column per group
streaming_groups.count()

GroupBy provides aggregate functions that are handy for quick calculations of numeric columns

In [ ]:
streaming_groups.sum()

In [ ]:
streaming_groups.mean(numeric_only=True)